<%- include('../partials/header.ejs') %>
<div class="container">
  <h2>Log In</h2>

    <form class="login-forms" action="/members" method="POST">
      Username: <input type="text" name="username" value="">
      Password: <input type="password" name="password" value="">
      <input type="submit" value="Login">
    </form>

    <nav>

        <td><a href="/users/new">Not a Member? Sign Up!</a></td>
        <td><a href="/luthiers/">Back to Gallery</a></td>

    </nav>
  </div>
<%- include('../partials/footer.ejs') %>
