<%- include('../partials/header.ejs') %>
  <h2>Registration</h2>
    <form class="" action="/members" method="POST">
      Username: <input type="text" name="username" value="">
      Password: <input type="password" name="password" value="">
      <input type="submit" value="Register">
    </form>

<%- include('../partials/footer.ejs') %>
