<nav>
  <div class="container">
    <table class="u-full-width">
      <tbody id="nav-background">
    <% if (currentUser) { %>
          <tr>
      <td><h5>Welcome, <%= currentUser.username %>!</h5></td>
      <td><a href="/members/">My Gallery</a></td>
      <td><a href="/luthiers/new/">Post a Build!</a></td>
      <td><a href="/luthiers/">Gallery</a></td>
      <td><a href="/community/">Community Board</a></td>
      <td style="padding-top: 20px;">
        <form action="/members?_method=DELETE" method="POST">
          <input class="button-primary" type="submit" value="Log Out" class="delete-button"/>
        </form>
      </td>
          </tr>
      <% } else { %>
        <tr>
          <td><a href="/users/new">Register</a></td>
          <td><a href="/members/new">Log In</a></td>
          <td><a href="/luthiers/">Gallery</a></td>
          <td><a href="/community/">Community Board</a></td>
          </tr>
            <% } %>
        </tbody>
      </table>
    </div>
</nav>
