<nav>
  <ul class="container" style="list-style: none;">
    <table>
      <nav>
    <td><li><a href="/luthiers/">Gallery</a></li></td>
    <td><li><a href="/luthiers/new/">Post a Build!</a></li></td>
      <td><li><a href="/community/">Community Board</a></li></td>
    <% if (currentUser) { %>
      <td><li>Welcome, <%= currentUser.username %>!</li></td>
      <tr><li>
        <form action="/members?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" class="delete-button" />
        </form>
      </li></tr>
      <tr><li><a href="/members/">My Gallery</a></li></tr>
<% } else { %>
    <td><li><a href="/users/new">Register</a></li></td>
    <td><li><a href="/members/new">Log In</a></li></td>
      <% } %>
    </nav>
      </table>
  </ul>
</nav>
