<%- include('../partials/header.ejs') %>
<div class='container'>
<h2>New Build Entry</h2>
<form action="/luthiers" method="POST">
  <input type="hidden" name="builder" value="<%=currentUser.name%>">
  <input type="hidden" name="builderId" value="<%=currentUser._id%>">
  Body Shape: <input type="text" name="bodyShape" value="">
  Top Wood: <input type="text" name="topWood" value="">
  Back and Sides Wood: <input type="text" name="backAndSidesWood" value="">
  Neck Wood: <input type="text" name="neckWood" value="">
  Fret Board: <input type="text" name="fretboard" value="">
  Body Binding: <input type="text" name="bodyBinding" value="">
  Neck Binding: <input type="text" name="neckBinding" value="">
  Bridge : <input type="text" name="bridge" value="">
  Truss Rod: <input type="text" name="trussrod" value="">
  Nut: <input type="text" name="nut" value="">
  Saddle <input type="text" name="saddle" value="">
  # of Frets: <input type="number" name="numOfFrets" min=0>
  Fret Material: <input type="text" name="fretMaterial" value="">
  Inlay Material: <input type="text" name="inlayMaterial" value="">
  Tuning Machines: <input type="text" name="tuningMachines" value="">
  Electronics: <input type="text" name="electronics" value="">
  Body Finish: <input type="text" name="bodyFinish" value="">
  Neck Finish: <input type="text" name="neckFinish" value="">
  Front Image: <input type="text" name="frontImage" value="">
  Back Image: <input type="text" name="backImage" value="">
  Addition Comments: <input type="text" name="additionalComments" value="">
  Audio Sample: <input type="file" name="audioSample1" id="audio" value="" accept="audio/wav">
  <input type="submit" name="" value="Add Build"/>
</form>
<nav>
  <table>
    <td><a href="/luthiers/">Back to Gallery</a></td>
  </table>
</nav>
</div>



<%- include('../partials/footer.ejs') %>
