<%- include('../partials/header.ejs') %>
<div class='container'>
<h2>New Post</h2>
<nav>
  <a href="/community/">Back to Community</a>
</nav>
<form action="/community" method="POST">
  <input type="hidden" name="posterName" value="<%=currentUser.name%>">
  <input type="hidden" name="posterUserId" value="<%=currentUser._id%>">
  <input type="hidden" name="createdAt" value="">
  Post: <input type="text" name="post" value="">
  <input class="button-primary" type="submit" name="" value="Post"/>
</form>
<nav>

    <td><a href="/community/">Back to Gallery</a></td>

</nav>
</div>
