<%- include('../partials/header.ejs') %>
<div class='container'>
<h2>New Post</h2>
<nav>
  <a href="/community/">Back to Community</a>
</nav>
<form class="login-forms" action="/community" method="POST">
  <input type="hidden" name="posterName" value="<%=currentUser.name%>">
  <input type="hidden" name="posterUserId" value="<%=currentUser._id%>">
  <input type="hidden" name="createdAt" value="">
  Post: <textarea  id="community-post-box" name="name" ></textarea>
  <input  id="post-button" class="button-primary" type="submit" name="" value="Post"/>
</form>
<!-- <nav>

    <td><a href="/community/">Back to Gallery</a></td>

</nav> -->
<div class="row">
  <div class="columns" >
    <td><a href="/community/">Back to Gallery</a></td>
    </div>
  </div>

</div>
