html{}
body {
  background-image: linear-gradient(to bottom, #d4b5b58a, rgb(35 34 34 / 83%)), url(https://images.pexels.com/photos/172289/pexels-photo-172289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: repeat;
  background-size: auto;
  /* background-repeat: repeat; */

}
form {
  display: inline-grid;
}

h1{
  text-align: center;
}
.background-image::before{
  filter: grayscale(100%);
}

/* } */
/* img {
  display: block;
  width: 300px;
  height: 300px;
  float: left;
} */
.index-image:hover{
  filter: grayscale(75%);

}
.button-delete{
  color: red;
  background-color: red;
  border-color: #33C3F0;
}
#comments-new {
  resize: none;
  width: auto;
  overflow: scroll;
  font-size: 16px;

}
#homepage-image{
  border: 5px;
  width: 50%;
  height: 655px;
  border-style: outset;
}
#homepage {
  justify-content: center;

}
#homepage-nav{
list-style: none;
font-size: 25px;
display: block;
}
#nav-background{
  background-color: #b9968e;
}
.login-forms{
  font-size: 25px;
  color: #d4b5b5;
  text-shadow: 2px 1px #222;
}
#community-posts{
  background-color: transparent;
  padding-block-start: 20px;
  border: double;
  border-radius: 30px;
  width: 91%;
}
#community-post-box{
  width: 700px;
  height: 450px;
  resize: none;
}
#post-button{
  width: 30%;
}
