body {
  background-color: lightpink;
}
form {
  display: inline-grid;
}



}
img {
  display: block;
  width: 300px;
  height: 300px;
  float: inherit;
}
.index-image:hover{
  filter: grayscale(100%);

}
