<!DOCTYPE html>
<html lang="en" dir="ltd">
  <head>
    <meta charset="utf-8">
    <title>The Luthier's Gallery</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
  </head>
  <body>
    <div class="container" style="text-align: center;">
      <h2 id="homepage">Welcome to the Luthier's Gallery</h2>
      <nav>
        <div class="container">
          <table class="u-full-width">
            <tbody id="nav-background" style="font-size:30px;">
              <td><a href="/luthiers/">Gallery</a></li></td>
              <td><a href="/users/new">Register</a></li></td>
              <td><a href="/members/new">Log In</a></li></td>
            </tbody>
          </table>
        </div>
      </nav>
      <div class="container">
      <h3 id="homepage">A place where Luthier's can come together and share their builds and ideas </h3>
      <h5 id="homepage">Come on in and explore! Create a profile to post builds and interact with other members in the community!</h5>

      <img id="homepage-image" src="https://www.maccubbinguitars.com/wp-content/uploads/2019/03/OS010_0531.jpg" alt="">
  
    </div>
</div>
    </body>
    </html>
